@using System.Security.Claims
@using Ideia.IO.Models
@using Ideia.IO.Database
@inject DbContext _db

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ideia.IO</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/button.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ImageGallery.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ideia.IO.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark box-shadow mb-3" style="height:70px;background-color:#0F1D2B;border-bottom: 4px solid #123252">
            <div class="container d-flex justify-content-around align-items-center">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Marca -->
                <a class="navbar-brand" asp-area="" asp-page="/Index" style="width:33%;font-weight:bold;font-size:35px">Ideia.IO</a>
                <!-- Botão de navegação responsiva -->
                <div style="width:33%;">
                    <form method="get" asp-page="/Projetos/Pesquisar" class="d-sm-flex flex-grow-1 justify-content-center" id="formPesquisa">
                        <input type="hidden" id="idPagina" name="Pesquisa.Pagina" />
                        <input type="hidden" id="Local" name="Pesquisa.Local" />
                        <input type="hidden" id="Ordenacao" name="Pesquisa.Ordenacao" />
                        <input type="text" id="txtPesquisar" name="Pesquisa.Pesquisa" placeholder="Digite sua pesquisa" class="form-control txtPesquisar" onkeydown="if (event.key === 'Enter') this.form.submit();" />
                    </form>
                </div>
                <!-- Opções de navegação -->
                <div style="width:33%" class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <!-- Formulário de pesquisa centralizado -->

                    <ul class="navbar-nav ms-auto align-items-center">
                        @if (!User?.Identity?.IsAuthenticated ?? false)
                        {
                            <li class="nav-item">
                                <a class="btn btn-primario" asp-area="" asp-page="/Acesso/Login">
                                    <img src="@Url.Content("~/svg/person-fill.svg")" />
                                    Entrar
                                </a>
                            </li>
                            <li class="nav-item ms-3">
                                <a class="btn btn-transparent" asp-area="" asp-page="/Acesso/Registro">
                                    Cadastrar-se
                                </a>
                            </li>
                        }
                        else
                        {
                            Usuario usuario = _db.Usuario.Find(int.Parse(User.FindFirst(ClaimTypes.NameIdentifier).Value));
                            string src = usuario?.ImgPerfil is not null ? "data:image/jpeg;base64," + Convert.ToBase64String(usuario.ImgPerfil) : Url.Content("~/img/perfil-de-usuario.png");
                            double Saldo = _db.Transacao.Where(x => x.IdUsuario == usuario.Id && x.IdProjeto == null).Sum(x => x.Valor);

                            <li class="nav-item me-3">
                                <a class="nav-link" style="font-weight:bold" asp-area="" asp-page="/Financeiro/Deposito">
                                    Saldo: &nbsp; <span style="color:#FFDD00;">@Saldo.ToString("C")</span>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div style="width: 35px; height: 35px; border-radius: 50%; overflow: hidden; display: inline-block;">
                                        <img id="profileImageNav" src="@src" alt="Foto de Perfil" style="width: 100%; height: 100%; object-fit: cover;" />
                                    </div>
                                    &nbsp;
                                    <b>@User.FindFirst(ClaimTypes.Name).Value</b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-area="" asp-page="/Acesso/PerfilGeral">Editar Perfil</a></li>
                                    <li><a asp-page="/Projetos/GerenciarProjetos" asp-route-Action="Create" asp-route-IdProjeto="@null" class="dropdown-item">Criar Projeto</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-page="/Projetos/Pesquisar" asp-route-Local="@LocalPesquisa.MeusProjetos">Meus Projetos</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-page="/Projetos/Pesquisar" asp-route-Local="@LocalPesquisa.MinhasContribuicoes">Minhas contribuições</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-page="/Acesso/Logout">Sair</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted" style="border-top: 4px solid #123252">
        <div class="container">
            &copy; 2024 - Ideia.IO - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>