@page
@model Ideia.IO.Pages.Projetos.MeusProjetosModel
@{
}

<div class="container mt-5">
    <h2>Lista de Projetos</h2>
    <ul class="list-group">
        @if (Model?.LstProjetos is not null)
        {
            @foreach (var item in Model.LstProjetos)
            {

                <li class="list-group-item d-flex justify-content-between align-items-center">
                    @item.Titulo
                    <div>
                                <a asp-page="/Projetos/Projetos" asp-route-IdProjeto="@item.Id"  class="btn btn-warning btn-sm me-2">Visualizar</a>
                                <a asp-page="/Projetos/GerenciarProjetos" asp-route-IdProjeto="@item.Id" asp-route-Action="Edit" class="btn btn-primary btn-sm me-2">Editar</a>
                        <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal"
                                data-id="@item.Id" data-nome="@item.Titulo">
                            Excluir
                        </button>
                    </div>
                </li>
            }
        }
    </ul>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirmar Deleção</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Você tem certeza que deseja excluir <span id="projectName"></span>? Esta ação não pode ser desfeita.
            </div>
            <div class="modal-footer">
                <form id="deleteForm" method="post" asp-page-handler="Delete">

                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<script>
    const deleteModal = document.getElementById('deleteModal');
    deleteModal.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget; 
        const projectId = button.getAttribute('data-id'); 
        const projectName = button.getAttribute('data-nome'); 

        const projectIdInput = document.getElementById('projectId');
        projectIdInput.value = projectId;

        const projectNameSpan = document.getElementById('projectName');
        projectNameSpan.textContent = projectName;
    });
</script>