@page
@model Ideia.IO.Pages.Projetos.PesquisarModel
@{
}
<div class="text-center">
    @if(Model.TotalContribuido is not null)
    {
        <h3>Minhas contribuições</h3>
        <h3>Total Contribuído: @Model.TotalContribuido?.ToString("C")</h3>
    }
    <h3>Total de Projetos: @Model.TotalProj</h3>
    <h3>Quantidade de Paginas: @Model.TotalPaginas</h3>
    <h3>Página: @Model.Pesquisa.Pagina</h3>
    <section class="projects-container">
        @foreach(var projeto in Model.LstProjetos)
        {
            string srcPerfil = projeto.ImgAutor is not null ? "data:image/jpeg;base64," + Convert.ToBase64String(projeto.ImgAutor) : Url.Content("~/img/perfil-de-usuario.png");
            int diasPassados = (int)(DateTime.Now - (projeto.DtCriacao ?? DateTime.Now)).TotalDays;
            <a asp-area="" asp-page="/Projetos/Projetos" asp-route-IdProjeto="@projeto.Id" style="text-decoration:none">
                <div class="project-box">
                    <div class="project-card">
                        @if (projeto.CapaProj is not null)
                        {
                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(projeto.CapaProj)" alt="Imagem do Projeto"  />
                        }
                    </div>
                    <div class="project-title">
                        <div style="width: 50px; height: 50px; border-radius: 50%; overflow: hidden; display: inline-block;">
                            <img id="profileImageNav" src="@srcPerfil" alt="Foto de Perfil" style="width: 100%; height: 100%; object-fit: cover;" />
                        </div>
                        <span>
                            <p class="titulo">@projeto.Titulo</p>
                            <p><b>Autor:</b> @projeto.Autor</p>
                        </span>
                    </div>
                    <div class="project-infos">
                        <p>@(diasPassados == 0 ? "Criado hoje" : "Criado a " + diasPassados + " dias")</p>
                        <p>@projeto.PorcentagemConcluida.ToString()% Arrecadado</p>
                    </div>
                    <p>@projeto.Descricao</p>

                </div>
            </a>
        }
    </section>

    <form method="get" asp-page-handler="Pesquisar">
        <input type="hidden" asp-for="Pesquisa!.Pesquisa" />
        <input type="hidden" asp-for="Pesquisa!.MinhasContribuicoes" />
        <input type="hidden" id="idPagina" asp-for="Pesquisa!.Pagina" value="@Model.Pesquisa.Pagina" />
        @if (Model.Pesquisa.Pagina > 1)
        {
            <button id="btnAnterior" type="submit" class="btn btn-danger" onclick="PaginaAnterior()">Anterior</button>
        }
        @if(Model.Pesquisa.Pagina != Model.TotalPaginas)
        {
            <button id="btnProximo" type="submit" class="btn btn-danger" onclick="ProximaPagina()">Proxima</button>
        }
    </form>
</div>
<script>

    function ProximaPagina() {
        let paginaAtual = parseInt(document.getElementById('idPagina').value, 10); 
        if (paginaAtual < @Model.TotalPaginas)
            document.getElementById('idPagina').value = paginaAtual + 1;
    }

    function PaginaAnterior() {
        let paginaAtual = parseInt(document.getElementById('idPagina').value, 10); 
        if(paginaAtual > 1)
            document.getElementById('idPagina').value = paginaAtual - 1;
    }
</script>

