@page
@using Ideia.IO.Models
@model Ideia.IO.Pages.Projetos.PesquisarModel
@{
}
<div class="text-center containerPesquisa">
    <div class="HeaderPesquisa">
        <div class="HeaderPesquisa-Item">
            @switch (Model.Pesquisa.Local)
            {
                case LocalPesquisa.MinhasContribuicoes:
                    <h2>Minhas contribuições</h2>
                    break;
                case LocalPesquisa.Salvos:
                    <h2>Projetos Salvos</h2>
                    break;
                case LocalPesquisa.MeusProjetos:
                    <h2>Meus Projetos</h2>
                    break;
                default:
                    <h2>Pesquisa</h2>
                    break;
            }
            <h3>Total de Projetos: @Model.TotalProj</h3>
        </div>
        <div class="HeaderPesquisa-Item">
            @if(Model.TotalContribuido is not null)
            {
                <h2>Total Contribuído: @Model.TotalContribuido?.ToString("C")</h2>
            }
        </div>
        <div class="HeaderPesquisa-Item d-flex align-items-end">
            <h4 class="mb-0 mr-2">Ordenar por: &nbsp;</h4>
            <select id="OrdenacaoFiltro" class="OrdenacaoFiltro" onchange="AlterarValorOrdenacao(event)">
                <option value="@OrdenacaoPesquisa.Relevancia">Relevância</option>
                <option value="@OrdenacaoPesquisa.MaisNovos">Mais recentes</option>
                <option value="@OrdenacaoPesquisa.MaisAntigos">Mais antigos</option>
            </select>
        </div>
    </div>
    <section class="projects-container">
        @foreach(var projeto in Model.LstProjetos)
        {
            string srcPerfil = projeto.ImgAutor is not null ? "data:image/jpeg;base64," + Convert.ToBase64String(projeto.ImgAutor) : Url.Content("~/img/perfil-de-usuario.png");
            int diasPassados = (int)(DateTime.Now - (projeto.DtCriacao ?? DateTime.Now)).TotalDays;
            <a asp-area="" asp-page="/Projetos/Projetos" asp-route-IdProjeto="@projeto.Id" style="text-decoration:none">
                <div class="project-box">
                    <div class="project-card">
                        <div class="image-wrapper">
                            @if (projeto.CapaProj is not null)
                            {
                                <img src="data:image/jpeg;base64,@Convert.ToBase64String(projeto.CapaProj)" alt="Imagem do Projeto" />
                            }
                        </div>
                    </div>

                    <div class="project-title">
                        <div style="width: 50px; height: 50px; border-radius: 50%; overflow: hidden; display: inline-block;">
                            <img id="profileImageNav" src="@srcPerfil" alt="Foto de Perfil" style="width: 100%; height: 100%; object-fit: cover;" />
                        </div>
                        <span>
                            <p class="titulo">@projeto.Titulo</p>
                            <p><b>Autor:</b> @projeto.Autor</p>
                        </span>
                    </div>
                    <div class="project-infos">
                        <p>@(diasPassados == 0 ? "Criado hoje" : "Criado a " + diasPassados + " dias")</p>
                        <p>@projeto.PorcentagemConcluida.ToString()% Arrecadado</p>
                    </div>
                    <p>@projeto.Descricao</p>

                </div>
            </a>
        }
    </section>

        @if (Model.Pesquisa.Pagina > 1)
        {
            <button id="btnAnterior" class="btn btn-danger" onclick="PaginaAnterior()">Anterior</button>
        }
        @if(Model.Pesquisa.Pagina != Model.TotalPaginas && Model.TotalPaginas != 0)
        {
            <button id="btnProximo" class="btn btn-danger" onclick="ProximaPagina()">Proxima</button>
        }
</div>
<script>
    document.getElementById('txtPesquisar').value = '@Model.Pesquisa.Pesquisa';
    document.getElementById('idPagina').value = '@Model.Pesquisa.Pagina';
    document.getElementById('Local').value = '@Model.Pesquisa.Local';
    document.getElementById('Ordenacao').value = '@Model.Pesquisa.Ordenacao';
    document.getElementById('OrdenacaoFiltro').value = '@Model.Pesquisa.Ordenacao.ToString()';

    function ProximaPagina() {
        let paginaAtual = parseInt(document.getElementById('idPagina').value, 10); 
        if (paginaAtual < @Model.TotalPaginas){
            document.getElementById('idPagina').value = paginaAtual + 1;
            document.getElementById('formPesquisa').submit();
        }
    }

    function PaginaAnterior() {
        let paginaAtual = parseInt(document.getElementById('idPagina').value, 10); 
        if(paginaAtual > 1){
            document.getElementById('idPagina').value = paginaAtual - 1;
            document.getElementById('formPesquisa').submit();
        }
    }

    function AlterarValorOrdenacao(e) {
        document.getElementById('Ordenacao').value = e.target.value;
        document.getElementById('formPesquisa').submit();
    }
</script>

