@page "/Projetos/{IdProjeto:int}"
@model Ideia.IO.Pages.Projetos.ProjetosModel
@{
}
@if (TempData["Fail"] != null)
{
    <div class="alert alert-danger">@TempData["Fail"]</div>
}

<h1>Titulo: @Model.Projeto.Titulo</h1>
<p>@Model.Projeto.Descricao</p>
<h3>Criado em: @Model.Projeto.DtCriacao?.ToString("dd/MM/yyyy")</h3>
<h3>Meta: @Model.Projeto.Meta?.ToString("C")</h3>
<h3>Obtido: @Model.Transacoes.Sum(x => x.Valor).ToString("C")</h3>
@if (Model.ImagemProjeto != null && Model.ImagemProjeto.Count > 0)
{
    <div style="display:flex;justify-content:center">
        @foreach (var imagem in Model.ImagemProjeto)
        {
            <div id="Images" method="post" asp-page-handler="DeleteImage" style="display:flex;flex-direction:column;margin:10px;height:200px">
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(imagem.Imagem)" alt="Imagem do Projeto" style="width: 100%; max-width: 400px; margin-bottom: 20px;height:100%" />
            </div>
        }
    </div>
}
else
{
    <p>Nenhuma imagem disponível para este projeto.</p>
}

<button class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#contribuirModal">Contribuir</button>
<div class="modal fade" id="contribuirModal" tabindex="-1" aria-labelledby="contribuirModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contribuirModalLabel">Confirmar Contribuição</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Com quanto deseja contribuir para o projeto <span id="projectName"></span>?
            </div>
            <div class="modal-footer">
                <form id="contribuirForm" method="post" asp-page-handler="Contribuir">
                    <input type="hidden" name="IdProjeto" id="projectId" value="@Model.Projeto.Id" />
                    <input type="number" name="Valor" id="valorContribuicao" placeholder="Valor" />
                    <button type="submit" class="btn btn-success">Confirmar</button>
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<script>
    const contribuirModal = document.getElementById('contribuirModal');
    contribuirModal.addEventListener('show.bs.modal', function (event) {
    const button = event.relatedTarget;
    });
</script>