@page
@model Ideia.IO.Pages.Acesso.PerfilGeralModel
@{
}

<div class="text-center d-flex justify-content-center align-items-center" style="height: 70vh;">
    <form class="row" style="width:100%" method="post" asp-action="../Privacy" enctype="multipart/form-data">
        @if (TempData["Fail"] != null)
        {
            <div class="alert alert-danger">@TempData["Fail"]</div>
        }
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success">@TempData["Success"]</div>
        }
        <div class="col-md-3">
            <div class="container-perfil-image" style="position: relative;" onclick="document.getElementById('fileInput').click();">
                <img id="profileImage" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Usuario?.ImgPerfil ?? new byte[0])" alt="Foto de Perfil" />
                <div class="overlay">
                    <i class="fas fa-edit"></i>
                </div>
                <input id="fileInput" class="form-control file-input" asp-for="Usuario!.ImgPerfilFile" type="file" accept="image/png, image/jpeg, image/gif" />
            </div>

        </div>

        <div class="col-md-9">
                <div class="container text-center container-acesso" style="width:100%">
                    <div class="form-floating input-50-container">
                        <input class="form-control input-acesso" id="frmNomeCompleto" asp-for="Usuario!.NomeCompleto" type="text" placeholder="Nome Completo" />
                        <label for="frmNomeCompleto">Nome Completo</label>
                    </div>
                    <div class="input-50-container">
                        <div class="form-floating">
                            <input class="form-control" id="frmNomeUsuario" asp-for="Usuario!.NomeUsuario" type="text" placeholder="Nome de usuário" />
                            <label for="frmNomeUsuario">Usuário</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="frmSenha" asp-for="Usuario!.Senha" type="password" placeholder="Senha" />
                            <label for="frmSenha">Senha</label>
                        </div>
                    </div>
                    <div class="input-50-container">
                        <div class="form-floating">
                            <input class="form-control" id="frmEmail" asp-for="Usuario!.Email" type="email" placeholder="Email" />
                            <label for="frmEmail">Email</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="frmNovaSenha" asp-for="Usuario!.NovaSenha" type="password" placeholder="Nova Senha" />
                            <label for="frmNovaSenha">Nova Senha</label>
                        </div>
                    </div>
                    <div class="input-50-container">
                        <div class="form-floating">
                            <input class="form-control" id="inpTelefone" asp-for="Usuario!.Telefone" type="text" placeholder="Telefone" />
                            <label for="inpTelefone">Telefone</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="frmConfirmarSenha" asp-for="Usuario!.ConfirmarSenha" type="password" placeholder="Confirmar Senha" />
                            <label for="frmConfirmarSenha">Confirmar Senha</label>
                        </div>
                    </div>
                    <div class="form-floating input-50-container">
                        <input class="form-control input-acesso" id="frmChavePix" asp-for="Usuario!.ChavePix" type="text" placeholder="Chave Pix" />
                        <label for="frmChavePix">Chave Pix</label>
                    </div>

                    <div class="input-button-container">
                    <a class="btn btn-voltar" href="@TempData["PaginaAnterior"]">
                            <img style="width:20px;margin-right:10px;" src="@Url.Content("~/svg/arrow-back.svg")" />
                            Voltar
                        </a>
                        <button class="btn btn-verde" type="submit">
                            <img style="width:20px;margin-right:10px;" src="@Url.Content("~/svg/save.svg")" />
                            Salvar
                        </button>
                    </div>
                </div>
            </div>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

    <script>
        $('#inpTelefone').mask('(00) 00000-0000');

        document.getElementById("fileInput").addEventListener("change", function (event) {
            const input = event.target;
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById("profileImage").src = e.target.result; 
                }
                reader.readAsDataURL(input.files[0]);
            }
        });
    </script>
</div>