@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <main>
        <section class="intro">
            <h2>Desenvolva em conjunto!</h2>
            <p>Em nossa plataforma</p>
        </section>

        <section class="stats-container">
            <div class="stat-box">
                <p>@Model.TotalProj</p>
                <h3>Projetos</h3>
            </div>
            <div class="stat-box">
                <p>@Model.TotalArrec.ToString("C")</p>
                <h3>Arrecadado</h3>
            </div>
            <div class="stat-box">
                <p>@Model.ProjConcluidos</p>
                <h3>Projetos concluídos</h3>
            </div>
        </section>

        <section class="projects-container">
            <div class="project-box">Projeto 1</div>
            <div class="project-box">Projeto 2</div>
            <div class="project-box">Projeto 3</div>
            <div class="project-box">Projeto 4</div>
        </section>
    </main>

    @foreach(var projeto in Model.LstProjetos)
    {
        <div>
            <a asp-area="" asp-page="/Projetos/Projetos" asp-route-IdProjeto="@projeto.Id">
                <p>@projeto.Titulo</p>
                @if (projeto.CapaProj is not null)
                {
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(projeto.CapaProj)" alt="Imagem do Projeto" style="width: 100%; max-width: 400px; margin-bottom: 20px;height:100%" />
                }
            </a>
        </div>
    }
</div>
