@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <main>
        <section class="intro">
            <h2>Desenvolva ideias em conjunto!</h2>
            <p>Em nossa plataforma</p>
        </section>

        <section class="stats-container">
            <div class="stat-box">
                <p>@Model.TotalProj</p>
                <h3>Projetos Ativos</h3>
            </div>
            <div class="stat-box">
                <p>@Model.TotalArrec.ToString("C")</p>
                <h3>Arrecadado</h3>
            </div>
            <div class="stat-box">
                <p>@Model.ProjConcluidos</p>
                <h3>Projetos concluídos</h3>
            </div>
        </section>
        <section class="intro2">
            <h2>Confira os mais visitados!</h2>
        </section>

        <section class="projects-container">
            @foreach (var projeto in Model.LstProjetos)
            {
                string srcPerfil = projeto.ImgAutor is not null ? "data:image/jpeg;base64," + Convert.ToBase64String(projeto.ImgAutor) : Url.Content("~/img/perfil-de-usuario.png");
                int diasPassados = (int)(DateTime.Now - (projeto.DtCriacao ?? DateTime.Now)).TotalDays;
                <a asp-area="" asp-page="/Projetos/Projetos" asp-route-IdProjeto="@projeto.Id" style="text-decoration:none">
                    <div class="project-box">
                        <div class="project-card">
                            <div class="image-wrapper">
                                @if (projeto.CapaProj is not null)
                                {
                                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(projeto.CapaProj)" alt="Imagem do Projeto" />
                                }
                            </div>
                        </div>

                        <div class="project-title">
                            <div style="width: 50px; height: 50px; border-radius: 50%; overflow: hidden; display: inline-block;margin-top:4px;">
                                <img id="profileImageNav" src="@srcPerfil" alt="Foto de Perfil" style="width: 100%; height: 100%; object-fit: cover;" />
                            </div>
                            <span>
                                <p class="titulo" style="font-size:1.2em">@projeto.Titulo</p>
                                <p><b>Autor:</b> @projeto.Autor</p>
                            </span>
                        </div>
                        <div class="project-infos">
                            <p>@(diasPassados == 0 ? "Criado hoje" : "Criado a " + diasPassados + " dias")</p>
                            <p>@projeto.PorcentagemConcluida.ToString()% Arrecadado</p>
                        </div>
                        <p>@projeto.Descricao</p>

                    </div>
                </a>
            }
    </section>
    </main>

</div>
